$white: #FFF;
$black: #000;
$translucent-black: rgba(0,0,0,0.4);

$dark-violet: #1D0E1F;
$violet: #30253D;
$light-violet: #5C5C73;
$light-blue: #A3C4CC;
$dark-white: #E1E8E5;

$white: #FFFFFF;
$red: #FF0000;
$green: rgb(0, 128, 0);
