.chart-canvas {
  width: 100%;
  height: 400px;

  .chart {
    height: 600px;
  }
}

.resource .metric {
  .name.failure  {
    color: red;
  }

  .name.success {
    color: green;
  }

  .fa {
    margin-right: 10px;
  }
}
